:root {
  --syntax_normal: #1b1e23;
  --syntax_comment: #a9b0bc;
  --syntax_number: #20a5ba;
  --syntax_keyword: #c30771;
  --syntax_atom: #10a778;
  --syntax_string: #008ec4;
  --syntax_error: #ffbedc;
  --syntax_unknown_variable: #838383;
  --syntax_known_variable: #005f87;
  --syntax_matchbracket: #20bbfc;
  --syntax_key: #6636b4;
  --mono_fonts: 82%/1.5 Menlo, Consolas, monospace;
}
.observablehq--collapsed,
.observablehq--expanded,
.observablehq--function,
.observablehq--gray,
.observablehq--import,
.observablehq--string:after,
.observablehq--string:before {
  color: var(--syntax_normal);
}
.observablehq--collapsed,
.observablehq--inspect a {
  cursor: pointer;
}
.observablehq--field {
  text-indent: -1em;
  margin-left: 1em;
}
.observablehq--empty {
  color: var(--syntax_comment);
}
.observablehq--blue,
.observablehq--keyword {
  color: #3182bd;
}
.observablehq--forbidden,
.observablehq--pink {
  color: #e377c2;
}
.observablehq--orange {
  color: #e6550d;
}
.observablehq--boolean,
.observablehq--null,
.observablehq--undefined {
  color: var(--syntax_atom);
}
.observablehq--bigint,
.observablehq--date,
.observablehq--green,
.observablehq--number,
.observablehq--regexp,
.observablehq--symbol {
  color: var(--syntax_number);
}
.observablehq--index,
.observablehq--key {
  color: var(--syntax_key);
}
.observablehq--prototype-key {
  color: #aaa;
}
.observablehq--empty {
  font-style: oblique;
}
.observablehq--purple,
.observablehq--string {
  color: var(--syntax_string);
}
.observablehq--error,
.observablehq--red {
  color: #e7040f;
}
.observablehq--inspect {
  font: var(--mono_fonts);
  overflow-x: auto;
  display: block;
  white-space: pre;
}
.observablehq--error .observablehq--inspect {
  word-break: break-all;
  white-space: pre-wrap;
}

body {
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 30px;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e0f7d2 50%, #c9e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e0f7d2 50%, #c9e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#tree {
  padding: 25px 5px;
}

svg {
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 0.5 em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}